<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>
        Daniel's Vending Machine - Products
    </title>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" type="text/css" href="../static/node_modules/view-design/dist/styles/iview.css"
        th:href="@{/node_modules/view-design/dist/styles/iview.css}"> -->
    <link rel="stylesheet" type="text/css" media="all" href="../static/css/style.css" th:href="@{/css/style.css}">

    <script type="text/javascript" src="../static/node_modules/jquery/dist/jquery.js"
        th:src="@{/node_modules/jquery/dist/jquery.js}">
        </script>
    <!-- <script type="text/javascript" src="../static/node_modules/vue/dist/vue.js"
        th:src="@{/node_modules/vue/dist/vue.js}"></script>
    <script type="text/javascript" src="../static/node_modules/view-design/dist/iview.js"
        th:src="@{/node_modules/view-design/dist/iview.js}"></script> -->
    <script type="text/javascript" src="../static/js/script.js" th:src="@{/js/script.js}"></script>

    <!-- <link rel="stylesheet" type="text/css" href="http://unpkg.com/view-design/dist/styles/iview.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="http://unpkg.com/view-design/dist/iview.min.js"></script> -->

    <link rel="stylesheet" type="text/css" href="../static/node_modules/view-design/dist/styles/iview.css"
        th:href="@{/node_modules/view-design/dist/styles/iview.css}">
    <script type="text/javascript" src="../static/node_modules/vue/dist/vue.min.js"
        th:src="@{/node_modules/vue/dist/vue.min.js}"></script>
    <script type="text/javascript" src="../static/node_modules/view-design/dist/iview.min.js"
        th:src="@{/node_modules/view-design/dist/iview.min.js}"></script>
</head>

<body>
    <div id="app">
        <Layout>
            <Header id="header">
                <i-row>
                    <i-col span="20" class="header-text" id="welcome-text">
                        Welcome to Daniel's Vending Machine!
                    </i-col>
                    <i-col span="4" class="header-text" id="user-identity-text" v-on:click="">
                        <div v-if="user.name !== ''" v-model="user.name">{{ user.name }}</div>
                        <div v-else>Not logged in</div>
                    </i-col>
                </i-row>
            </Header>
            <Header id="steps">
                <Steps v-bind:current="current">
                    <Step title="Login" content="Login to your account"></Step>
                    <Step title="Select" content="Choose your products and discounts"></Step>
                    <Step title="Pay" content="Pay for your products"></Step>
                    <Step title="Finish" content="Finish your action, or buy more"></Step>
                </Steps>
            </Header>
            <Content id="content">
                <div v-show="current === 0">
                    <div id="login-message">
                        <Alert type="error" show-icon v-show="login.error">Username or Password Wrong!</Alert>
                        <Alert type="success" show-icon v-show="login.success">Login Success!</Alert>
                    </div>
                    <i-form :model="login" ref="login" class="login-form" label-width="280">
                        <FormItem prop="username">
                            <i-input type="text" v-model="login.username" placeholder="Username" class="login-form-item"
                                size="large">
                                <Icon type="ios-person-outline" slot="prepend"></Icon>
                            </i-input>
                        </FormItem>
                        <FormItem prop="password">
                            <i-input type="password" v-model="login.password" placeholder="Password"
                                class="login-form-item" size="large" password=true>
                                <Icon type="ios-lock-outline" slot="prepend"></Icon>
                            </i-input>
                        </FormItem>
                        <FormItem id="login-button-form-item">
                            <i-button type="primary" @click="handleLogin('login')" class="login-form-item"
                                size="default" :loading="login.loading">Sign in</i-button>
                        </FormItem>
                    </i-form>
                </div>
                <div v-show="current === 1">
                    <list item-layout="vertical" split="true" id="product-list">
                        <ListItem v-for="product in products" v-bind:key="product">
                            <Card class="product-card">
                                <i-row type="flex" justify="center" :gutter="16">
                                    <i-col span="4" style="align-content: center;">
                                        <!-- <img v-bind:src="'../static/img/' + product.name + '.jpg'"> -->
                                        <!-- <img th:src="@{/img/HClO.jpg}"> -->
                                        <!-- <img v-bind:src="require('../img/' + product.name + '.jpg')"> -->
                                        <img v-bind:src="product.img" class="product-image">
                                    </i-col>
                                    <i-col span="8">
                                        <div class="product-name">{{ product.name }}</div>
                                        <div class="product-description">{{ product.description }}</div>
                                        <div class="product-count">Current Storage: {{ product.count }}</div>
                                        <div class="product-discount">
                                            <CheckBox v-if="product.discountId !== null" v-bind:style="product.style" v-bind:disabled="!(!discountFlag[discountsByProduct[product.id].type] || (discountFlag[discountsByProduct[product.id].type] && product.discountSelect))"
                                                v-model="product.discountSelect" border
                                                @on-change="discountFlag[discountsByProduct[product.id].type] = !discountFlag[discountsByProduct[product.id].type]; calcSingleProduct(product);">
                                                {{ product.discountText }}
                                            </CheckBox>
                                            <!-- <CheckBox v-bind:style="color: rgb(255, 0, 0)" v-bind:label="hi"></CheckBox> -->
                                            <!-- <CheckBox>Hi</CheckBox> -->
                                        </div>
                                    </i-col>
                                    <i-col span="3" class="product-price">
                                        ￥{{ product.price }}/item
                                    </i-col>
                                    <i-col span="6" class="product-action">
                                        <i-button type="primary" icon="ios-remove" shape="circle"
                                            @click="if (product.select > 0) {
                                                product.select--;
                                            } else product.select=0;
                                            calcSingleProduct(product);">
                                        </i-button>
                                        <i-input v-model="product.select" class="product-select" style="width: 100px"
                                            @blur.native.capture="if (product.select > product.count) {
                                                product.select = product.count;
                                            } else if (product.select === null) product.select = 0;
                                            else if (product.select * 10 % 10 !== 0) product.select = Math.floor(product.select);
                                            calcSingleProduct(product);">
                                        </i-input>
                                        <i-button type="primary" icon="ios-add" shape="circle"
                                            @click="if (product.select < product.count) {product.select++;} calcSingleProduct(product);">
                                        </i-button>
                                    </i-col>
                                    <i-col span="3" class="product-calc">
                                        <div class="calc-result" v-bind:key="product.calc">Total Cost:
                                            ￥{{ product.calc }}</div>
                                    </i-col>
                                </i-row>
                            </Card>
                        </ListItem>
                        <ListItem>
                            <Card class="result-card">
                                <i-row type="flex" justify="center" :gutter="16">
                                    <i-col span="8" offset="4" class="topic-apart">
                                        <div class="middle">Total Amount</div>
                                    </i-col>
                                    <i-col span="3" offset="9" class="calc-apart">
                                        <div class="calc-sum-result middle">￥{{ originalSum }}</div>
                                    </i-col>
                                </i-row>
                            </Card>
                        </ListItem>
                        <ListItem>
                            <i-button @click="this.current = 2" v-model:disable="login.">Pay</i-button>
                        </ListItem>

                        <!-- <ListItem>
                            <Card class="result-card">
                                <i-row type="flex" justify="center" :gutter="16">
                                    <i-col span="8" offset="4" class="topic-apart">
                                        <List>
                                            <ListItem v-for="discount in discountsGlobal" v-bind:key="discount">
                                                <CheckBox v-bind:style="globalDiscountState[discount.id].style"
                                                    v-bind:disabled="!(!discountFlag[discount.type] || (discountFlag[discount.type] && globalDiscountState[discount.id].select))"
                                                    v-model="globalDiscountState[discount.id].select" border
                                                    @on-change="discountFlag[discount.type] = !discountFlag[discount.type]">
                                                    {{ product.discountText }}
                                                </CheckBox>
                                            </ListItem>
                                        </List>
                                    </i-col>
                                    <i-col span="3" offset="9" class="calc-final">
                                        <div class="calc-sum-result middle">￥{{ finalSum }}</div>
                                    </i-col>
                                </i-row>
                            </Card>
                        </ListItem> -->
                    </list>
                </div>
                <div v-show="current === 2">
                    <div id="login-message">
                        <Alert type="error" show-icon v-show="pay.error">Password Wrong!</Alert>
                        <Alert type="success" show-icon v-show="pay.success">Payment Success!</Alert>
                    </div>
                    <i-form :model="pay" ref="pay" class="login-form" label-width="280">
                        <FormItem prop="password">
                            <i-input type="password" v-model="pay.password" placeholder="Password"
                                class="login-form-item" size="large" password=true>
                                <Icon type="ios-lock-outline" slot="prepend"></Icon>
                            </i-input>
                        </FormItem>
                        <FormItem id="login-button-form-item">
                            <i-button type="primary" @click="handlePay('pay')" class="login-form-item"
                                size="default" :loading="pay.loading">Pay</i-button>
                        </FormItem>
                    </i-form>
                </div>
                <div v-show="current === 3">
                    <div>
                        Thank you!
                    </div>
                </div>
            </Content>
        </Layout>
    </div>

    <script type="text/javascript" src="../static/js/script-vue.js" th:src="@{/js/script-vue.js}"></script>
</body>

</html>